{% extends 'master.html' %}
{% block content %}
	<div class="row d-flex col-6 m-auto">
        <h1 class="text-info text-center">Login Here</h1>
        <form method="post" action="{% url '' %}">
            {% csrf_token %}
            <field-set>
                <legend class="border-bottom mb-4">Login here!</legend>
                {{ form }}
            </field-set>
            <div class="form-group">
                <input class="btn btn-info" value="Login" type="submit">
            </div>
        </form>
    </div>
{% endblock %}